@charset "utf-8";
.index.html {
}

body {
	
	background-color: darkkhaki;
	background-image: url("Images/woodtexture.jpg");
	background-repeat: repeat-x,repeat-y;

}
.edge{
	margin: 1%;
}

header{
	background-color: darkgreen;
	border: 2px solid darkgreen;
	border-radius: 5px;
	padding:5px;
}
header img{
	padding-left: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
}



.Company h2{
    float: right;
    color: lightgreen;
    clear: both;
    text-align: right;
    text-shadow: 3px 5px 2px rgba(90,80,1,0.85);
    padding-top: 20px;
    vertical-align: middle;
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif"
}

nav {
	border: 2px solid green;
	border-radius: 5px;
	background-color: green;
	background: linear-gradient(123deg, rgba(0,33,0,0.36) 0%, rgba(3,108,3,0.36) 22%, rgba(6,72,6,0.36) 52%, rgba(44,129,44,0.36) 80%, rgba(2,93,2,0.36) 100%); 
}
.button{
	border: 2px outset #003300;
	border-radius: 12px;
	padding: 5px;
	background-color: #003300;
	text-align: center;
}
nav a{
	color: lightgreen;
	padding-left: 5px;
	padding-right: 5px;
}
nav a:visited{
	color:sandybrown;
}
nav .button:hover{
	background-color: darkgreen;
	background: radial-gradient(circle,rgba(0,51,0,1) 0%, rgba(0,128,0,1) 66%, rgba(128,173,128,1) 100%); 
	color: orange;
	text-shadow: 1px 1px 2px darkgreen;
}

/* Main */
main{
    background-color: rgba(255,190,120,0.90);
    padding: 10px;
    text-decoration: none;
}


.Title{
	text-align: center;
	font-size: 350%;
	text-shadow: 3px 1px 6px rgb(144, 238, 144,.6);
	color: #003300;
	background-color: orange;
	font-family: Impact, "Franklin Gothic Bold", "Arial Black", "sans-serif";
	padding-top: 8px;
	padding-bottom: 10px;
}

.horizln{
	width: 90%;
	height: 35px;
	align-content: center;
	background-image: url("Images/mini_knife-button.png");
	background-repeat: space;
	background-color: rgb(255,203,90,.5);
	border: none;
}


figure img{
	padding-left: 20px;
	padding-right: 20px;
	
}
figure figcaption{
	font-style: italic;
	font-size: .9em;
	padding-left: 30px;
}

.vid{
	align-content: center;
	padding: 20px;
	text-align: center;
	max-width: 98%;
	min-width: 300px;
	
}
.vid iframe{
	align-items: center;
}

.game{
	margin-left: 30%;
    margin-right: 30%;
	min-width: 30px;
    min-height: 30px;
    max-width: 95%;
    max-height: 95px;
	font-size: 60px;
	margin-bottom: 1.75em;
	margin-top: .5em;
}
.game h1{
    border-width: 16px;
    background-color: orangered;
    border-color: green;
    border-radius: 4px;
    font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
    text-align: center;
	font-size: 60px;
}
.game a{
	color: darkgreen;
	text-shadow: 4px green;
}
.game a:hover{
	color:orange;
	background-color: forestgreen;
}
.game h1:hover{
	color: orange;
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
	background-color: forestgreen;
}

table{
	padding: 5px;
	padding-left: 15px;
}

#enemies td h4{
	padding-left: 36px;
}
.enem{
	width: 650px;
	text-align: center; 
}
.char{
	margin-left: 15px;
}


.employees #left{
	direction: rtl;
	text-align: right;
}

#faq p{
	padding-left: 3em;
	margin-right: 5em;;
}
#faq{
	padding-left: 10px;
}



footer{
	background-color: darkgreen;
	border: 2px solid darkgreen;
	border-radius: 5px;
	padding:5px;
}
footer div{
	margin-left: 20px;
	margin-right: 20px;
}
footer a:hover{
    color: darkgreen;
    background-color: powderblue;
	padding: 2px;
}
footer a{
	color: lightgreen;
}
footer a:active{
	color: yellow;
}

li a{
	color:green;
	font-weight: bold;
}
li a:hover{
	color: darkred;
}
.contact{
	font-size:100%;
	padding:10px;
	border: 3px;
	border-style: dashed;
	border-color: saddlebrown;
	margin: 15px;
	color: ghostwhite;
	font-weight: bold;
}
.contact h3{
	font-family: Impact,"sans-serif";

}
.copyright p{
	font-size: 0.8em;
	color: sandybrown;
	text-align: center;
	padding: 10px;
}

.fnt{
	font-family: "semplicita pro",sans-serif;
	font-weight: 400;
	font-style: normal;
}
